*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
/debug.log
/external/*/**
!/external/*/*.Module.cs
/intermediate/
/packages/
/source/P4VFS.Driver/sdv/**
/source/P4VFS.Driver/*sdv*
/source/P4VFS.Driver/*smv*
/source/P4VFS.Driver/Scripts/*.txt   
/source/P4VFS.Driver/Scripts/*.etl  
/source/P4VFS.Driver/Scripts/*.log
**/obj/
**/.vs/
**/.vscode/
