
variables:
  configuration: 'ReleaseSign'

pool: 
  name: TC GFWLCSS

stages:
- stage: CI
  jobs:
  - template: templates/p4vfs-ci.yml
    parameters:
      configuration: $(configuration)
      additionalBuildArguments: '/Property:P4VFSCodeSignMethod=Attestation'

