
name: p4vfs-verify

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
      - 'dev/*'
  pull_request:
    branches:
      - 'main'
      - 'dev/*'

env:
  SOLUTION_FILE_PATH: source/P4VFS.sln
  BUILD_PLATFORM: x64
  BUILD_CONFIGURATIONS: '[Debug, Release]'

  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: true

permissions:
  contents: read

jobs:
  setup:
    runs-on: [windows-latest]
    outputs:
      matrix: ${{ steps.configure.outputs.matrix }}
    steps:
      - id: configure
        run: echo "matrix=$env:BUILD_CONFIGURATIONS" >> $GITHUB_OUTPUT

  build:
    runs-on: ${{matrix.os}}
    needs: setup
    strategy:
      matrix:
        os: [windows-latest]
        configuration: ${{ fromJSON(needs.setup.outputs.matrix) }}

    steps:
    - name: Set image info in env
      run: |
        Write-Output "ImageOS=$env:ImageOS" >> $env:GITHUB_ENV
        Write-Output "ImageVersion=$env:ImageVersion" >> $env:GITHUB_ENV

    - name: Checkout the repo
      uses: actions/checkout@v3.3.0

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.3.1
      with:
        msbuild-architecture: x64

    - name: Cache OpenSSL ${{env.ImageOS}} ${{env.ImageVersion}}
      uses: actions/cache@v3.3.0
      with:
        path: |
          external/OpenSSL
          !external/OpenSSL/OpenSSL.Module.cs
        key: build-openssl-${{env.ImageOS}}-${{env.ImageVersion}}-${{ hashFiles('external/OpenSSL/OpenSSL.Module.cs') }}

    - name: Build ${{matrix.configuration}}
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild.exe -clp:Summary -nologo -nodeReuse:false -verbosity:m -restore -maxcpucount "-p:Configuration=${{matrix.configuration}}" "-p:Platform=${{env.BUILD_PLATFORM}}" ${{env.SOLUTION_FILE_PATH}}
